In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://results.elections.virginia.gov/vaelections/2022%20June%20Republican%20Primary/Site/Member_House_of_Representatives_(02).html"
prefix = 'https://results.elections.virginia.gov/vaelections/2022%20June%20Republican%20Primary/Site'

In [4]:
reqs = requests.get(url)
soup = BeautifulSoup(reqs.text, 'html.parser')
 
urls = []
for link in soup.find_all('a'):
    urls.append(link.get('href'))

In [18]:
county_urls = urls[-10:-2]

In [31]:
suffix = county_urls[0]
curl = prefix + suffix[1:]

In [33]:
creqs = requests.get(curl)
csoup = BeautifulSoup(creqs.text, 'html.parser')

In [90]:
ids = list(range(16,116,5))

In [92]:
text = pd.DataFrame(csoup.find_all('span'))

/Users/xavier/opt/anaconda3/lib/python3.8/site-packages/pandas/core/internals/construction.py:305: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

In [86]:
# First table
csoup.find_all('span')[4]
# More table names 4, 10, 16, 21, 26, 31, 
csoup.find_all('span')[111]

In [37]:
cpage = pd.read_html(curl)
cdat = pd.concat(cpage,ignore_index=True)
cdat

                            Candidate  Votes Percent
0             Jarome Bell  Republican  11330  27.08%
1   Andrew G. "Andy" Baan  Republican   1237   2.96%
2     L. Tommy Altman III  Republican   5972  14.27%
3          Jen A. Kiggans  Republican  23300  55.69%
4             Jarome Bell  Republican   1006  52.34%
..                                ...    ...     ...
83         Jen A. Kiggans  Republican     35  37.23%
84            Jarome Bell  Republican     63  44.68%
85  Andrew G. "Andy" Baan  Republican      4   2.84%
86    L. Tommy Altman III  Republican     10   7.09%
87         Jen A. Kiggans  Republican     64  45.39%

[88 rows x 3 columns]